html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body.light {
  background-color: whitesmoke;
}

body.dark {
  background-color: #151515;
}

path.light {
  fill: #151515;
  stroke: #151515;
}

path.dark {
  fill: whitesmoke;
  stroke: whitesmoke;
}

h1.light,h2.light,h3.light,h4.light,h5.light,h6,p.light,footer.light {
  background-color: whitesmoke;
  color: #151515;
}

h1.dark,h2.dark,h3.dark,h4.dark,h5.dark,h6.dark,p.dark,footer.dark {
  background-color: #151515;
  color: whitesmoke;
}

button.light {
  background-color: #151515;
  color: whitesmoke;
}

button.dark {
  background-color: whitesmoke;
  color: #151515;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: whitesmoke;
}

p, ul, li, a, footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, ul, li, li a p, footer {
  text-decoration: none;
}

a {
  text-decoration: none;
  color:whitesmoke;
}
  
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  grid-auto-flow: column;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  background-color: #33333390;
  position: -webkit-sticky;
  position: sticky;
  filter: drop-shadow(0 0 0.75rem black);
  top: 0.5rem;
  border-radius: 5rem;
  width: 99%;
  z-index: 1;
  max-height: 7.5vmax;
}

ul::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

li a {
  display: flex;
  align-items: center;
  color: white;
  height: 2.5vh;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  li a {
    font-size: small;
  }

  li a img {
    width: 1.5rem;
  }
}

li a:hover:not(.active) {
  opacity: 75%;
}

ul li.right{
  margin-left: auto;
}

ul li:not(:last-child){
  border-right: 0.15rem solid rgba(245, 245, 245, 0.05);
}

a:hover:not(.active) {
  opacity: 75%;
}

.dropElement {
  position: relative;
  top: 1rem;
}

a.dropdown .dropElement {
  display: none;
}

a.dropdown:hover .dropElement {
  display: block;
}
    
.active {
  background-color: #ffa500;
}  

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#section1 {
  padding-top: 25vh;
  padding-bottom: 75vh;
}

#section2 {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

#section3 {
  padding-top: 25vh;
  padding-bottom: 75vh;
}

#toggleButton {
  border: none;
  padding: 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 1em;
  opacity: 100%;
}

#toggleButton.dark #modeIcon{
  filter: brightness(0%);
  cursor: pointer;
}

#toggleButton.light #modeIcon{
  filter: brightness(1000%);
  cursor: pointer;
}

#toggleButton:hover {
  opacity: 90%;
}

#arrowTriangle {
  opacity: 100%;
}

#arrowTriangle:hover {
  opacity: 90%;
}

footer {
  position: fixed;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem;
  top: calc(100vh - 2rem);
}
