html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body.light {
  background-color: whitesmoke;
}

body.dark {
  background-color: #151515;
}

path.light {
  fill: #151515;
  stroke: #151515;
}

path.dark {
  fill: whitesmoke;
  stroke: whitesmoke;
}

h1.light,h2.light,h3.light,h4.light,h5.light,h6,p.light,footer.light {
  background-color: whitesmoke;
  color: #151515;
}

h1.dark,h2.dark,h3.dark,h4.dark,h5.dark,h6.dark,p.dark,footer.dark {
  background-color: #151515;
  color: whitesmoke;
}

button.light {
  background-color: #151515;
  color: whitesmoke;
}

button.dark {
  background-color: whitesmoke;
  color: #151515;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: whitesmoke;
}

p, ul, li, a, footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, ul, li, li a p, footer {
  text-decoration: none;
}

a {
  text-decoration: none;
  color:whitesmoke;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow-x: visible;
  display: flex;
  grid-auto-flow: column;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  position: -webkit-sticky;
  position: sticky;
  filter: drop-shadow(0 0 0.5rem black);
  top: 0.5rem;
  width: 99%;
  z-index: 1;
  height: 100%;
}

ul::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

li a {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: white;
  height: 2.5vh;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #33333390;
  justify-content: center;
}

li:first-child a {
  border-radius: 5rem;
}

li:nth-child(2) {
  border: 5px;
}

li:nth-child(2) a {
  border-radius: 5rem 0.25rem 0.25rem 5rem;
}

li:nth-last-child(2) a {
  border-radius: 0.25rem 5rem 5rem 0.25rem;
}

li:has(.dropdown-content):nth-child(2):hover a {
  border-radius: 5rem 0.25rem 0.25rem 0.25rem;
}

li:has(.dropdown-content):nth-child(2):hover a {
  border-radius: 5rem 0.25rem 0.25rem 0.25rem;
}

li:has(.dropdown-content):nth-child(6):hover a {
  border-radius: 0.25rem 1.75rem 0.25rem 0.25rem;
}

.right li:has(.dropdown-content):hover a {
  border-radius: 5rem 5rem 0.25rem 0.25rem;
}

.right li a {
  border-radius: 5rem;
}

.right {
  position: absolute;
  right: 0;
  display: flex;
}

@media only screen and (max-width: 600px) {
  ul {
    width: 5rem;
    margin-left: 85%;
  }

  ul li {
    border: none !important;
  }

  li a {
    width: fit-content;
  }

  li a:first-child {
    padding: 0.5rem;
    height: 3rem;
    width: 3rem;
  }

  li a img:first-child {
    width: 3rem;
    height: 3rem;
  }

  ul:not(#mobileNav) li:not(:first-child) {
    display: none;
  }

  li a img:not(:first-child) {
    display: none;
  }

  .right {
    display: none;
  }
}

li a:hover:not(.active) {
  color: rgba(245, 245, 245, 0.75);
}

li a:hover:not(.active) img{
  opacity: 75%;
}

ul li:not(:last-child) {
  border-right: 0.25rem solid rgba(0, 0, 0, 0);
}

a:hover:not(.active) {
  color: rgba(245, 245, 245, 0.75);
}
    
.active {
  background-color: #ffa500;
  cursor: default;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  margin-bottom: 1rem;
}

.dropdown-content a {
  display: flex;
  margin-top: 0.25rem;
  cursor: pointer;
  text-align: center;
  align-items: center;
  color: white;
  height: 2.5vh;
  padding: 1rem;
  background-color: #33333390;
  border-radius: 0.25rem !important;
}

.dropdown:hover .dropdown-content {
  display: block !important;
}

.dropdown-content a:hover {
  color: rgba(245, 245, 245, 0.75);
}

#mobileNav {
  display: none;
  margin: 0 !important;
  padding: 0 !important;
  position: fixed;
  top: 5rem;
  width: 100vw;
  height: fit-content;
  overflow:visible;
}

#mobileNav a {
  border-radius: 0.25rem !important;
  width: 90vw;
  position: relative;
  margin-top: 0.25rem;
  padding: 1rem;
  background-color: #333333db;
}

#mobileNav .right {
  display: block;
}

#mobileNav .right a {
  width: 40vw;
}

#mobileNav .right li:nth-last-child(2) {
  position: relative;
  left: -51vw !important;
}

#mobileNav .right li:last-child {
  position: relative;
  top: -11.9vh;
  right: 0.9vh;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#section1 {
  padding-top: 25vh;
  padding-bottom: 75vh;
}

#section2 {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

#section3 {
  padding-top: 25vh;
  padding-bottom: 75vh;
}

.black {
  filter: brightness(0%);
  cursor: pointer;
}

.white {
  filter: brightness(1000%);
  cursor: pointer;
}

#arrowTriangle {
  opacity: 100%;
}

#arrowTriangle:hover {
  opacity: 90%;
}

footer {
  position: fixed;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem;
  top: calc(100vh - 2rem);
}
